#api key for GROQ API
GROQ_API_KEY=

# model name for LLM
MODEL_NAME=llama-3.3-70b-versatile

# path to the directory where the Chroma database will be stored
CHROMA_DB_DIR=./chroma_db

# Model name for embedding model
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2